<header id="home-head">
	<a class="site-title" href="{{ site.baseurl }}/"><img class="site-avatar" src="/images/avatar.jpg" /></a>
	<a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
	<div class="changeable">
		<p class="site-subtitle">{{ site.subtitle }}</p>
		<div class="site-statistics">
			<div style="border-right: 1px solid darkgray;">
				<p>文章</p>
				<p>{{site.posts.size}}</p>
			</div>
			<div>
				<p>访问量</p>
				<p>
					<script language="javascript" type="text/javascript" src="http://quote.51.la/?id=18709502&amp;mb=1"></script>
				</p>
			</div>
		</div>
		<nav class="site-nav">
			<li><a href="javascript:void(0)" onclick="active(0)">最新</a></li>
			{% for category in site.categories %}
			<li><a href="javascript:void(0)" onclick="active({{forloop.index}})">{{ category[0] }}</a></li>
			{% endfor %}
		</nav>
		<script>
			function active(index) {
				var category = document.getElementById("category");
				if(category) {
					var categories = document.getElementById("category").children;
					for (var i = 0; i < categories.length; i++) {
						categories[i].setAttribute("class", "");
					}
					categories[index].setAttribute("class", "active");
				}
			}
		</script>
	</div>
</header>