.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}

/**
 * Site header
 */
#home-head {
//  background: $slide-bar-color $slide-bar-background;
    background: $slide-bar-color;
    width: $slide-bar-width;
    height: 100%;
    position: fixed;
    overflow: hidden;
    text-align: center;
}
#category{
    margin: 0;
}
#category > li{
    display: none;
}

#category > .active{
    display: block;
}

.site-avatar{
    width: 30%;
    border-radius: 70%;
    margin: 0 $spacing-unit;
    border: 6px solid $grey-color-light;
}

.site-title {
    margin-top: $spacing-unit;
    display: block;
    width: 100%;
    font-size: 2em;
    font-weight: 600;
    &,
    &:visited {
        color: $slide-bar-primary-color;
    }
    &:hover{
        color:white;
    }
}
.site-subtitle{
    font-size: 1.1em;
    margin-top: $spacing-unit / 4;
    color: $slide-bar-accent-color;
}

.site-statistics{
    margin-top: $spacing-unit;
    padding: 0 $spacing-unit;
    color: $slide-bar-accent-color;
    overflow: hidden;
}
.site-statistics div{
    width: 49%;
    float: left;
}

.site-statistics p{
    margin: 0;
    padding: 0;
}

.site-nav {
    margin-top: $spacing-unit * 2;
    text-align: center;
    list-style: none;
}
.site-nav li{
    padding: 4px 20px;
    font-size: 1.1em;
}
.site-nav a{
    &,
    &:visited {
        color: $slide-bar-primary-color;
    }
    &:hover{
        color:white;
    }
}

.Ajiang{
	color: $slide-bar-accent-color;
}
.Ajiang:visited{
	color: $slide-bar-accent-color;
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit $slide-bar-width;
}

.page-heading {
    font-weight: bold;
    border-bottom: 1px solid $grey-color-light;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit / 2;
        border-bottom: 1px dashed $grey-color-light;
        padding-bottom: $spacing-unit / 2;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
    margin-bottom: $spacing-unit / 4;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}
.post-content{
    margin: ($spacing-unit + $slide-bar-height) 0;
}

.post-body {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;
        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
	
	p{
		line-height:1.7;
	}
}

#post-nav{
    width: 100%;
    height: $slide-bar-height;
    background: $slide-bar-color;
    top: 0;
    left: 0;
    position: fixed;
}
.post-tag{
    padding: 2px 8px;
    border-radius: 10px;
	color: cadetblue;
	background:$grey-color-light;
}
.post-item{
    line-height: $slide-bar-height;
}
#post-avatar{
    width: $slide-bar-height - 20;
    height: $slide-bar-height - 20;
    border-radius: 70%;
    border: 2px solid $grey-color-light;
}
#post-username{
    margin: 0 $spacing-unit;
    &,
    &:visited {
        color: $slide-bar-primary-color;
    }
    &:hover{
        color:white;
    }
}
#post-back{
    float: left;
    margin: 0 $spacing-unit / 2;
    font-size: 1.5em;
    &,
    &:visited {
        color: $slide-bar-primary-color;
    }
}

@media (max-width: 1200px){
    .site-title {
        text-align: left;
        font-size: 1em;
        font-weight: 400;
        margin: 0;
        line-height: $slide-bar-height;
        float: left;
        width: auto;
    }
    #home-head {
        margin:0;
        width: 100%;
        border-bottom: 1px solid $grey-color-light;
        height: $slide-bar-height;
        position: fixed;
        background: $slide-bar-color;
    }
    
    .site-avatar{
        width: $slide-bar-height - 16;
        height: $slide-bar-height - 16;
        border-radius: 70%;
        border: 2px solid $grey-color-light;
    }
    
    .changeable{
        display: none;
    }
    
    .page-heading{
        margin-top: $slide-bar-height;
    }
    #post-avatar{
        display: none;
    }
    #post-nav{
        text-align: center;
    }
}
