<!DOCTYPE html>
<html>
	{% include head.html %}

	<body>
		<nav id="post-nav">
			<a class="iconfont post-item" id="post-back" href="javascript:history.go(-1);">&#xe62b;</a>
			<a href="{{ site.baseurl }}/" class="post-item"><img id="post-avatar" src="/images/avatar.jpg" /></a>
			<a id="post-username" href="{{ site.baseurl }}/" class="post-item">{{ site.title }}</a>
		</nav>
		<div class="post-content">
			<div class="wrapper">
				<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
					<header class="post-header">
						<h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
						<p class="post-meta">
							<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%Y年%m月%-d日" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
							<span class="post-meta">　　标签：
							{% for tag in page.tags %}
								<span class="post-tag">{{ tag }}</span> {% endfor %}
							</span>
						</p>
					</header>
					<div class="post-body" itemprop="articleBody">
						{{ content }}
					</div>
				</article>
			</div>
		</div>
		<!--高速版-->
		<div id="SOHUCS" class="wrapper" sid="{{page.id}}"></div>
		<script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js"></script>
		<script type="text/javascript">
			window.changyan.api.config({
				appid: 'cys8ajiE2',
				conf: 'prod_6ea49835bf6ed6462becfc8a4c7dccdd'
			});
		</script>
		{% include footer.html %}
	</body>

</html>